
*{
    box-sizing: border-box;
}
.body{
    margin: 0px auto;
}

.cont{
    margin: 0px auto;
    width: 900px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px grey;
}

.round_image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: none;
    border-radius: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.profile{
    width: 300px;
    height: 500px;

    border: 1px solid black;
}
.rightside{
    width: 600px;
    height: 250px;

    border: 1px solid black;
}
.bottom{
    width: 600px;
    height: 250px;

    border: 1px solid black; 
    padding-top: 50px;
}
.bottom> p{
    text-align: justify;
}
.box{
    height: 250px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    padding-top: 80px;
}
.box> h2{
    color: green;
}